@{
    ViewData["Title"] = "Home Page";
}


<form action="/home/addOrderToGrid/" method="post">
    <div>
        <label>Address</label>
        <textarea name="Address" class="form-control"></textarea>
    </div>

    <div>
        <input type="submit" value="Add" class="btn btn-sm btn-success"/>
    </div>
</form>


<div>
    @Html.Raw(ViewBag.OrderGrid)
</div>
